.itemImg{
    display: grid;
    justify-items: center;
    margin: 20px;
}

.img1
{
    height: 250px;
    width: 250px;
}

.divButton{
    display: grid;
    grid-template-columns: 20px 20px 20px;
    margin-top: 10px;
}

button{
    background-color:pink;
}

.h5Items{
 margin-top: 10px;
 text-align: center;
 width: 60px;
}